.list {
  padding: 0.5rem;
  margin: 0 2rem;
  align-items: center;
  border-bottom: 1px solid #c0bfbf;
  justify-content: space-between;
}
.nameItem {
  font-weight: bold;
  font-size: 2rem;
  display: block;
  align-items: center;
}

.listItem {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.price {
  display: flex;
  color: rgb(141, 16, 16);
  font-weight: bold;
  font-size: 1.3rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  background-color: rgb(141, 16, 16);
  color: white;
  font-weight: bold;
  margin: 1rem 0rem;
  /* border: 2px solid black; */
  border-radius: 12px;
}
.amount {
  padding: 0.5rem;
  font-weight: bold;
}
.buttons button {
  border-radius: 10px;
  background-color: rgb(141, 16, 16);
  color: white;
  border: none;
  padding: 0.5rem;
  width: 2.5rem;
  font-weight: bold;
  font-size: 1rem;
}
