.list {
  display: flex;
  margin: 0.5rem;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  border-bottom: solid rgb(194, 192, 192) 1px;
  text-align: right;
}

.cartItem_name {
  margin-bottom: 0.5rem;
}
.cartItem_name h3 {
  text-align: left;
  font-size: 1.7rem;
  margin-bottom: 0.5rem;
  color: rgb(30, 30, 30);
}

.cartItem_summery {
  display: flex;
  justify-content: space-between;
}
.amount {
  color: rgb(175, 172, 172);
  margin-left: 2rem;
  width: 2rem;
  font-weight: bold;
  border-radius: 2px;
  padding: 0.1rem 0.3rem 0.1rem 0.3rem;
  border: 1.7px solid rgb(190, 190, 190);
  box-shadow: 2px rgba(169, 169, 169, 0.458);
}

.price {
  color: brown;
  font-weight: bold;
  font-size: 1.3rem;
}
.adsub_Buttons {
  display: flex;
  margin-top: 2rem;
  margin-left: 3rem;
  align-items: center;
}

.adsub_Buttons button {
  border-radius: 2px;
  padding: 0.2rem;
  width: 2.5rem;
  border: none;
  background-color: brown;
  color: white;
  font-weight: bold;
  margin: 1rem;
  font-size: 1rem;
  border: 2px solid brown;
}
