.form {
  height: auto;
  display: block;
  margin: 0;
  /* overflow-y: scroll; */
}
.form label {
  display: block;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}
.form input {
  width: 100%;
  padding: 0.5rem;
  font: inherit;
  font-size: 0.8rem;
  outline: none;
  caret-color: rgb(81, 78, 78);
  color: rgb(66, 33, 33);
}

.buttons {
  margin: 1rem;
  display: flex;
  justify-content: right;
}
.buttonConfirm {
  border-radius: 5px;
  padding: 0.5rem;
  width: 6rem;
  background-color: rgb(141, 16, 16);
  color: white;
  border: none;
  font-weight: bold;
}

.buttonCancel {
  border-radius: 5px;
  padding: 0.5rem;
  width: 6rem;
  margin: 0 1rem;
  background-color: rgb(141, 16, 16);
  color: white;
  border: none;
  font-weight: bold;
}

.ErrorcorrectionmessageDisplay {
  font-size: 0.8rem;
  color: rgb(173, 11, 11);
}
