.mealList {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  border-bottom: solid rgb(194, 192, 192) 1px;
}

.name {
  margin-bottom: 0.35rem;
}
.description {
  font-style: italic;
  margin-bottom: 0.35rem;
}

.price {
  margin-top: 0.25rem;
  font-size: 1.25rem;
  color: rgb(136, 15, 15);
  font-weight: bold;
}
