.meal_form {
  text-align: right;
}

.button {
  border-radius: 5px;
  border: none;
  font-weight: bold;
  padding: 0.65rem 2rem;
  color: white;
  background-color: rgb(163, 13, 13);
}

.wrongInputError {
  font-size: 0.8rem;
  color: rgb(231, 47, 47);
}
