.label {
  font-weight: bold;
  margin: 0;
}
.input {
  margin: 0.5rem;
  width: 3rem;
  height: 1.5rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  /* border:none; */
  padding-left: 0.5rem;
}
.input_whole {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
