.Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.Modal {
overflow: auto;
  position: fixed;
  top: 5rem;
  left: 25%;
  width: 50%;
  height:80%;
  background-color: rgb(255, 255, 255);
  /* padding: 1rem; */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}
